# Ansible
vars/

# Application
!site/web/app/plugins/*
!site/web/app/plugins/.gitkeep
site/web/app/mu-plugins/*/
site/web/app/upgrade
site/web/app/uploads/*
!site/web/app/uploads/.gitkeep
!site/web/app/themes/*
!site/web/app/themes/.gitkeep

# WordPress
site/web/wp
site/web/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor
/package-lock.json

# WP-CLI
wp-cli.local.yml


# PLUGINS & Misc.
# ==================== #

# Node Modules
node_modules/

# Query Monitor
site/web/app/db.php

# WP Rocket
site/web/app/cache/
!site/web/app/cache/.gitkeep
site/web/app/cache/busting/
!site/web/app/cache/busting/.gitkeep
site/web/app/cache/critical-css/
!site/web/app/cache/critical-css/.gitkeep
site/web/app/cache/min/
!site/web/app/cache/min/.gitkeep
site/web/app/cache/wp-rocket/
!site/web/app/cache/wp-rocket/.gitkeep

# Hummingbird
site/web/app/wphb-logs
site/web/app/wphb-cache

# WP Smush
site/web/app/smush-webp

# Never commit an SQL
*.sql
*.sql.gz

# Wordpress default files in root directory
#   WP is installed safely inside site/site/web/wp/
/index.php    
/readme.html             
/wp-config.php        
/wp-login.php     
/wp-signup.php
/.htaccess   
/license.txt  
/wp-blog-header.php    
/wp-links-opml.php  
/wp-mail.php      
/wp-trackback.php
/wp-activate.php
/wp-comments-post.php
/wp-cron.php
/wp-load.php
/wp-settings.php
/xmlrpc.php